{%extends "syllabus/base.html"%}
{%load crispy_forms_tags%}


{%block content%}
<!-- <p>we'll make form here to access syllabus </p> -->

<nav class="navbar navbar-expand-sm navbar-dark fixed-top marg">
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"></a>
        <form action="" method="POST" autocomplete="off" class="form-inline" >
            {%csrf_token%}
            <label class="mr-sm-5">
                {{form.program|as_crispy_field}}
            </label>
            <label class="mr-sm-5">
                {{form.faculty|as_crispy_field}}
            </label>
            <label class="mr-sm-5">
                {{form.level|as_crispy_field}}
            </label>
            <!-- <center style="height: 100%; "> -->
            <button type="submit" class="save btn btn-default" name= "process_btn" value="switching groups" style="border-radius:12px;cursor:pointer;color:#ffffff;background-color:#138cc4;border: none;font-size: 15px;width:150px; font-weight: bold; vertical-align: top;padding:8px;">DISPLAY</button>
        </form>
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<!-- <div class ="nav-bar">  
    <form action="" method="POST" autocomplete="off">
        {%csrf_token%}
        <div class ="row">
            <div class ="col-md-3">
                {{form.program|as_crispy_field}}
            </div>
            <div class ="col-md-3">
                {{form.faculty|as_crispy_field}}
            </div>
            <div class ="col-md-3">
                {{form.level|as_crispy_field}}
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2 active" ; height: 100%;">
                <label for="save btn btn-default" style="color:white">s</label><br>
                <center style="height: 100%; ">
                    <button type="submit" class="save btn btn-default" name= "process_btn" value="switching groups" style="border-radius:12px;cursor:pointer;color:#ffffff;background-color:#138cc4;border: none;font-size: 15px;width:150px; font-weight: bold; vertical-align: top;padding:8px;">DISPLAY</button> 
            <button id="btn-export" type="submit" class="save btn btn-default" name= "word_btn" value="switching groups" style="font-size: 15px; font-weight: bold; vertical-align: top; margin-top: 2% ;" onclick="PrintElem('a');">Export</button> 
                </center>
            </div>
            <div class ="col-md-1">
            <form>
                <label for="query" style="color:white">s</label><br>
                <input type="text" id="query" name="qry" placeholder="Search.." ><br>
            </form>  
            </div>
         </div>
    </form>
</div> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id ='a'>
    {%if check.condn%}
        <center><div>
        <h4 class="top_text" style="font-size: 28px; font-family : Merriweather Sans;">Program: {{syllabus.specification.program}} in {{syllabus.specification.faculty}} Year/Part:{{syllabus.specification.level}}</h4>
        <br>
        <table border=1 class="top_table" style="border: 1px solid rgb(27, 25, 25);border-collapse: collapse;margin-left:20px;">
        <thead>
        
    <tr>

        <th width="10%" id="code" style="font-weight: bold; font-size: 14px; text-align: center; padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans; color:#666666;">Code
        </th>
        <th width="25%" style="font-weight: bold; font-size: 14px; text-align: center; padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans; color:#666666;"> Subject Name
        </th>
        <th width="15" style="font-weight: bold; font-size: 14px; text-align: center; padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">Type
        </th>
        <th width="10%" style="font-weight: bold; font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">Exam<br>Type
        </th>
        <th width="10%" style="font-weight: bold; font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">Total <br/>Hours
        </th>
        <th width="10%" style="font-weight: bold; font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">Theory <br/> Total
        </th>
        <th width="10%" style="font-weight: bold; font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">Practical <br/> Total
        </th>
        <th width="10%" style="font-weight: bold; font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;"> Total
        </th>
    </tr>
        </thead>

        {%for key in subjects%}
        
        <tbody>
            <tr>
                <td width="50dp" id="code" style=" font-size: 14px; text-align: center; padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans; color:#666666;"> {{key.subject_code}}
                </td>
               <td width="25dp" id="code" style=" font-size: 14px; text-align: center; padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans; color:#666666;">  <a href=" {% url 'topics' key.id %}"> {{key.subject_name}}</a>
                </td>
                <td width="25dp" style=" font-size: 14px; text-align: center; padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">{{key.subject_type}}
                </td>
                <td width="10%" style="font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">{{key.exam_type}}
                </td>
                <td width="10%" style=" font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;"> {{key.Total_no_of_hours}}
                </td>
                <td width="10%" style=" font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">{{key.theory_final_total}}
                </td>
                <td width="10%" style=" font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">{{key.practical_final_total}}
                </td>
                <td width="15%" style="font-size: 14px; text-align: center;padding-left: 3px; padding-right: 3px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">{{key.marks_final_total}}
                </td>
            </tr>
        </tbody>
        {%endfor%}
        <tfoot>
            <tr><th id="total" colspan="7" style="font-size: 14px; text-align: center; padding : 3px;padding-left: 132px;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">Total Marks</th><td style="font-size: 14px; text-align: center;border: 1px solid rgb(27, 25, 25);font-family: Open Sans;color:#666666;">{{ syllabus.total_final_marks }}</td></tr>
        </tfoot>
     {%endif%}
    </table>
</div>
     </center>


</div>
{%if user.is_authenticated%}
<div class="fixed-bottom scale">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'add-syllabus' %}" class="btn btn-success">Add Syllabus</a>
        <a href="{% url 'add-subject' %}" class="btn btn-success">Add Subject</a>
        <a href="{% url 'add-specs' %}" class="btn btn-success">Add Department</a>
        <a href="http://google.com" class="btn btn-success">Upload pdf</a>
    </div}
</div>
{%endif%}
{%endblock content%} 